{
  "presets": [
    ["@babel/preset-env"],
    ["@babel/preset-stage-0", {
      "decoratorsLegacy": true
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "react-css-modules",
      {
        "generateScopedName": "[name]__[local]__[hash:base64:5]",
        "webpackHotModuleReloading": true,
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }
    ]
  ],
  "env": {
    "devlopment": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
