$palette: (
  #1a1c2c,
  #572956,
  #b14156,
  #ee7b58,
  #ffd079,
  #a0f072,
  #38b86e,
  #276e7b,
  #29366f,
  #405bd0,
  #4fa4f7,
  #86ecf8,
  #f4f4f4,
  #93b6c1,
  #557185,
  #324056
);

$color: (
  background: nth($palette, 1),
  foreground: nth($palette, 14),
  primary: nth($palette, 3),
  secondary: nth($palette, 5),
  font: nth($palette, 1),
  border: nth($palette, 1),
  divider: nth($palette, 13)
);

$font-size: 100px, 50px, 30px;

$border-radius: 10px;
$border-width: 6px;

@mixin standard-border {
  border: $border-width solid map_get($color, border);
  border-radius: $border-radius;
}

@mixin breakpoint($size) {
  @if $size == 1 {
    @media (max-width: 1300px) {
      @content;
    }
  } @else if $size == 2 {
    @media (max-width: 900px) {
      @content;
    }
  }
}
