$color: (
  background: white,
  foreground: #e5e5e5,
  primary: #e85a5a,
  secondary1: #b9a4db,
  secondary2: #e9cf8b,
  primaryfont: black,
  secondaryfont: #7a7a7a,
  error: #ff5050
);

$font-size: 100px, 50px, 30px;

$border-radius: 10px;
$border-width: 6px;

@mixin standard-border {
  border: $border-width solid black;
  border-radius: $border-radius;
}

@mixin breakpoint($size) {
  @if $size == 1 {
    @media (max-width: 1300px) {
      @content;
    }
  } @else if $size == 2 {
    @media (max-width: 900px) {
      @content;
    }
  }
}
