$palette: (
  night: #000000,
  crown: #572956,
  rose: #b14156,
  sunset: #ee7b58,
  lemon: #ffd079,
  grass: #a0f072,
  bush: #38b86e,
  swamp: #276e7b,
  ocean: #29366f,
  berry: #405bd0,
  pool: #4fa4f7,
  sky: #86ecf8,
  cloud: #f4f4f4,
  cement: #93b6c1,
  metal: #557185,
  coal: #324056
);

$color: (
  background: map_get($palette, night),
  foreground: map_get($palette, cement),
  primary: map_get($palette, rose),
  secondary: map_get($palette, lemon),
  font: map_get($palette, night),
  border: map_get($palette, night),
  divider: map_get($palette, cloud)
);

$font-size: 100px, 50px, 30px;

$border-radius: 10px;
$border-width: 6px;

@mixin standard-border {
  border: $border-width solid map_get($color, border);
  border-radius: $border-radius;
}

@mixin breakpoint($size) {
  @if $size == 1 {
    @media (max-width: 1300px) {
      @content;
    }
  } @else if $size == 2 {
    @media (max-width: 900px) {
      @content;
    }
  }
}
