html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
  user-select: none;
}
body * {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
button,
input,
select {
  border: 0;
}
button:focus,
input:focus,
select:focus {
  outline: 0;
}
p {
  cursor: default;
}
img {
  display: block;
}
button img {
  margin: auto;
}
