@import './fixes.global.scss';
@import './definitions.global.scss';

body,
button,
input {
  font-family: Source Code Pro;
  font-weight: bold;
}

p {
  font-size: nth($font-size, 2);
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.error {
  @include standard-border;
  border-color: map_get($color, error);
  font-size: nth($font-size, 2);
  display: inline-block;
}
