@import './fixes.global.scss';
@import './definitions.global.scss';

body,
button,
input {
  font-family: Source Code Pro;
  font-weight: bold;
}

p {
  font-size: nth($font-size, 2);
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.outer {
  height: 100%;
}

.error {
  @include standard-border;
  border-color: map_get($color, error);
  font-size: nth($font-size, 2);
  display: inline-block;
}

button,
input {
  @include standard-border;
  font-size: nth($font-size, 2);
}

button {
  background: map_get($color, primary);
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  height: 100%;
  width: 400px;
}

.highlight {
  border-radius: $border-radius;
  &.color1 {
    background: map_get($color, secondary1);
  }
  &.color2 {
    background: map_get($color, secondary2);
  }
}

.seperator {
  height: $border-width;
  background: map_get($color, border);
  margin: 20px;
}
