@import '~styles/definitions.global.scss';

.main {
  canvas {
    position: absolute;
  }
  canvas:last-of-type {
    position: relative;
  }
}

.toolbar {
  user-select: none;
  background: map_get($color, foreground);
  height: 100%;
}

.tools {
}
