@import '~styles/definitions.global.scss';

.project {
  background: map_get($color, foreground);
  padding: 30px;
  margin: 20px;

  p {
    font-size: nth($font-size, 3);
  }

  button {
    margin: 20px;
  }
}

